@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Source+Sans+Pro:wght@600&family=Ubuntu:wght@300;500&display=swap');

$primary: #864879;
$secondary: #820fab26;

$text-primary: #2b2f3e;
$text-secondary: #6f566975;

$font-primary: 'Source Sans Pro', sans-serif;
$font-secondary: 'Nanum Brush Script', cursive;
