@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  background-color: $secondary;
}

input,
button {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

i {
  border-radius: 50%;
}

.wrapper {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 1em;

  .app-title {
    text-align: center;
    color: $primary;
    font-size: 3em;
    font-family: $font-secondary;
  }
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 2em;

  section {
    background-color: white;
    border-radius: 40px;
    padding: 1em;
    flex: 1;

    .titre {
      font-family: $font-secondary;
      color: $text-primary;
      text-align: center;
      font-size: 2.2em;
      margin-bottom: 5px;
    }
  }
}

section.clients {
  form {
    display: flex;
    align-items: center;
    gap: 1em;

    input {
      flex: 1;
      font-family: $font-primary;
      background-color: $secondary;
      padding: 0.7em 0.8em;
      border-radius: 20px;
    }

    button {
      background-color: transparent;
      i {
        background-color: $primary;
        color: white;
        padding: 0.8em;
      }
    }
  }

  .clients-list {
    list-style: none;
    margin-top: 1em;
    max-height: 80%;
    overflow-y: auto;

    .client-item {
      cursor: pointer;
      padding: 0.2em 0.2em;
      background-color: $secondary;
      font-family: $font-primary;
      border-radius: 40px;
      margin-bottom: 1em;
      display: flex;
      align-items: center;

      .client-avatar {
        background-color: white;
        border-radius: 50%;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        // padding: 0.4em;
        margin-right: 1em;
      }

      p {
        display: inline-block;
      }

      &.active,
      &:hover {
        background-color: $primary;

        .client-nom {
          color: white;
        }
      }
    }

    p.no-clients {
      font-family: $font-primary;
      padding: 0.3em;
    }
  }
}

section.facture {
  padding: 1.5em;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .produits-header {
    color: $text-primary;
    font-family: $font-primary;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;

    h3 {
      flex: 1;
      text-align: center;
    }
  }

  .produits {
    list-style: none;
    flex: 1;
    display: flex;
    flex-direction: column;
    font-family: $font-primary;

    li {
      display: flex;
      justify-content: space-between;
    }

    h3 {
      flex: 1;
      text-align: center;
    }

    .produit {
      color: $text-secondary;
      margin-bottom: 0.5em;

      i {
        cursor: pointer;
        background-color: $primary;
        color: white;
        font-size: 0.8em;
        padding: 0.4em 0.5em;
      }
    }
  }

  .facture-total {
    color: $text-primary;
    font-family: $font-primary;
    font-size: 1.3em;
    display: flex;
    justify-content: space-between;
  }
}

section.ajouter-produit {
  height: 50%;

  form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    input {
      flex: 1;
      font-family: $font-primary;
      background-color: $secondary;
      padding: 0.7em 0.8em;
      border-radius: 20px;
    }

    button {
      background-color: $primary;
      font-family: $font-primary;
      border-radius: 20px;
      color: white;
      padding: 0.8em;
    }
  }
}
